.entity.entity-sortable.animated.fadeIn{class: tip.selector.present? ? 'entity-tip' : 'entity-broadcast', "data-tip-id" => tip.id, id: dom_id(tip)}
  %span.entity-number
  %h4.entity-title= link_to tip.title, edit_tip_link(tip)
  %p.small.courier
    = (tip.site_host_ref.present? ? tip.site_host_ref : @site.url) + tip.path
  .list-group-item-actions
    = link_to edit_tip_link(tip), class: 'btn btn-primary btn-xs' do
      %i.fa.fa-pencil
    = link_to destroy_tip_link(tip), remote: true, method: :delete, :'data-confirm' => 'This action will delete your tutorial.', class: 'btn btn-danger btn-xs' do
      %i.fa.fa-trash
    = preview_tip_link tip
  - unless @tutorial
    %p.small.text-center.entity-publication-range
      %i.glyphicon.glyphicon-time
      = "#{l tip.published_at} - #{l tip.unpublished_at}"