.animated.fadeInUp
  %h1
    Tutorial
    %b= @tutorial.title
  %h2= @site.url + @tutorial.path
  %p
    = link_to 'edit', edit_site_tutorial_path(@site, @tutorial), class: 'btn btn-primary btn-sm'
    = link_to 'delete', site_tutorial_path(@site, @tutorial), method: :delete, remote: true, class: 'btn btn-danger btn-sm', :'data-confirm' => 'This action will delete your tutorial'
  %p.entity-publication-range
    %i.glyphicon.glyphicon-time
    = "#{l @tutorial.published_at} - #{l @tutorial.unpublished_at}"
.tip-collection{data: {view: 'tip-collection'}}
  - if @tips.any?
    .tip-collection-top
      %p.text-center
        = link_to 'new tip', new_tutorial_tip_path(@tutorial.id), class: 'btn btn-lg btn-primary'
      %h3.animated.fadeInDown= link_to 'All tips:', tutorial_tips_path(@tutorial)
    .tips-container= render partial: 'nested_tips/tip', collection: @tips

  .hero-unit.text-center{class: @tips.any? ? 'hide' : 'animated bounceIn'}
    %h3 No messages for this #{@tutorial ? 'tutorial' : 'site'} yet!
    %p
      Start adding messages to your #{@tutorial ? 'tutorial' : 'site'} by clicking the button below.
    %p
      = link_to "Add a message to your #{@tutorial ? 'tutorial' : 'site'}!", new_tip_link, class: 'btn btn-lg btn-primary'
