.row
  %div
    %h1= title "Tutorial #{@tutorial.title}"
    %dl.dl-horizontal
      %dt Title
      %dd= @tutorial.title
      %dt Path
      %dd= @tutorial.path
      %dt Publish on
      %dd= l @tutorial.published_at
      %dt Unpublish on
      %dd= l @tutorial.unpublished_at
  = link_to 'create_tips', site_tutorial_tips_path(@site.id, @tutorial.id)

  = render @tutorial.tips