.col-md-8.col-md-offset-2
  %h1= @site.name
  %h2= @site.hostname
  %p
    = link_to edit_site_path(@site), remote: true, class: 'btn btn-primary btn-sm' do
      %i.fa.fa-pencil
      edit
    = link_to site_path(@site), method: :delete, remote: true, class: 'btn btn-danger btn-sm', :'data-confirm' => 'This action will remove your site'  do
      %i.fa.fa-trash
      delete
  .row
    .col-md-6
      %p.text-center
        = link_to site_tutorials_path(@site) do
          = pluralize(@site.tutorials.count, 'tutorial')
      = link_to new_site_tutorial_path(@site), class: 'btn btn-primary btn-block btn-lg' do
        %i.fa.fa-plus
        New tutorial
    .col-md-6
      %p.text-center
        = link_to site_tips_path(@site) do
          = pluralize(@site.tips.count, 'tip')
      = link_to new_site_tip_path(@site), class: 'btn btn-primary btn-block btn-lg' do
        %i.fa.fa-plus
        New Tip