%div
  %h3= title "Site #{@site.name}"
  %dl.dl-horizontal
    %dt Host name
    %dd= @site.hostname
    %dt Tips
    %dd= link_to pluralize(@site.tips.count, 'tip'), site_tips_path(@site)
    %dt Tutorials
    %dd= link_to pluralize(@site.tutorials.count, 'tutorial'), site_tutorials_path(@site)
