.col-md-8.col-md-offset-2.animated.fadeInUp
  %h1
    %b= @site.name
  %h2= @site.hostname
  %p
    = link_to edit_site_path(@site), remote: true, class: 'btn btn-primary btn-sm' do
      %i.fa.fa-pencil
      edit
    = link_to site_path(@site), method: :delete, remote: true, class: 'btn btn-danger btn-sm', :'data-confirm' => 'This action will remove your site'  do
      %i.fa.fa-trash
      delete
  .row
    .col-md-6
      %p.text-center
        = link_to site_tutorials_path(@site) do
          = pluralize(@site.tutorials.count, 'tutorial')
      = link_to new_site_tutorial_path(@site), class: 'btn btn-primary btn-block btn-lg' do
        New tutorial
    .col-md-6
      %p.text-center
        = link_to site_tips_path(@site) do
          = pluralize(@site.tips.count, 'tip')
      = link_to new_site_tip_path(@site), class: 'btn btn-primary btn-block btn-lg' do
        New Tip
  %br
  .alert.alert-warning.text-center
    <b>hint</b>: don't forget to add the hermes script below
  %p
    Add the following code to the pages of <span class="label-primary label">#{@site.hostname}</span>, inside your JavaScript/CoffeeScript. Preferably inside the <a href="http://api.jquery.com/ready/" target="_blank">domready</a> and <b>after</b> your app initialization.
  .embed-element
    %pre#embed_dynamic
      (function(d,l,s){s=d.createElement('script'),l=d.scripts[0];s.setAttribute('id','#{@site.hostname}');s.src='#{hermes_embed_url}';l.parentNode.insertBefore(s,l)}(document));
    %button.btn.btn-default.copy-element.btn-xs{:'data-clipboard-target' => "embed_dynamic"}
      copy
  <b>or</b>, <br> insert it statically just before the ending
  %code &lt;/body&gt;
  tag and <b>after</b> your page scripts:
  .embed-element
    %pre#embed_static
      &lt;script src="#{hermes_embed_url}" id="#{@site.hostname}"&gt;&lt;/script&gt;
    %button.btn.btn-default.copy-element.btn-xs{:'data-clipboard-target' => "embed_static"}
      copy