.form-group
  = f.text_field :title, class: 'form-control input-transparent input-lg', placeholder: 'Title'
.form-group
  = f.hidden_field :content, class: 'textarea-target'
  .textarea-editable{data: {placeholder: 'Content'}}= f.object.content.html_safe if f.object.content
  %p.form-control-help.text-right
    Insert the content of the tip. Select text to change style
.form-group
  = f.text_field :path, :'data-connect-path' => '#ext-connect-link', class: 'form-control ext-path input-transparent', value: @tutorial ? @tutorial.path : f.object.path
  %p.form-control-help.text-right
    insert the path where the tip will be displayed (<b>/</b> default)
.form-group
  %label
    Layout type
  %div
    .btn-group{"data-toggle" => "buttons"}
      %label.btn.btn-default{class: f.object.selector.blank? ? 'active' : ''}
        %input.ext-remove-selector{"data-output" => "#tip-connected", :name => "broadcast", :type => "radio", checked: f.object.selector.blank?}
        Broadcast
      %label.btn.btn-default.ext-connect{class: f.object.selector.blank? ? '' : 'active'}
        %input{"data-output" => "#tip-connect", :name => "broadcast", :type => "radio", checked: f.object.selector.present?}
        Bound to item in the page
        = link_to 'Connect', [@site.url, f.object.path].join, :id => 'ext-connect-link', class: 'hide', 'target' => '_blank', :'data-hostname' => @site.url, :'data-token' => @tip_connector_token, :'data-output' => '#tip-connected'
        %span#tip-connected{:class => f.object.selector.blank? ? 'hide' : ''}
          %i.fa.fa-check
          Connected!
          = f.hidden_field :selector

- unless @tutorial
  .row
    .col-md-6
      .form-group
        .input-group.date.datetimepicker
          = f.text_field :published_at, placeholder: 'Publishing starts', class: 'form-control', 'data-date-format' => "YYYY-MM-DD hh:mm:ss"
          %span.input-group-addon
            %span.fa.fa-calendar
    .col-md-6
      .form-group
        .input-group.date.datetimepicker
          = f.text_field :unpublished_at, placeholder: 'Publishing ends', class: 'form-control', 'data-date-format' => "YYYY-MM-DD hh:mm:ss"
          %span.input-group-addon
            %span.fa.fa-calendar

- if f.object.persisted? && !@tutorial
  .checkbox
    = f.label :redisplay do
      = f.check_box :redisplay
      Check to redisplay the message
.form-actions.text-center
  %p
    - if f.object.persisted?
      = f.button 'Update message', class: 'btn btn-success'
    - else
      = f.button 'Create new message', class: 'btn btn-success'
