%tr{"data-id" => tip.id, :id => dom_id(tip)}
  %td
    %i.icon-reorder
    = link_to tip.title, edit_site_tip_path(@site, tip)
  %td= l tip.published_at
  %td= l tip.unpublished_at
  %td{:style => "text-align: right"}
    .btn-group
      = link_to "http://#{@site.hostname}#{tip.path}#hermes-preview,#{message_path(tip.class.model_name.param_key, tip.id)}", class: 'btn btn-default btn-sm', target: '_blank' do
        %i.icon-eye-open
      = link_to edit_site_tip_path(@site, tip), class: 'btn btn-default btn-sm' do
        %i.icon-edit
      = link_to site_tip_path(@site, tip), remote: true, method: :delete, :'data-confirm' => 'This action will delete your message.', class: 'btn btn-default btn-sm' do
        %i.icon-remove
