.tip-collection{data: {view: 'tip-collection'}}
  .tip-collection-top
    %p.text-center.animated.fadeInUp
      = link_to new_tip_link, class: 'btn btn-primary btn-lg' do
        New tip
    - if @tips.any?
      %h3.animated.fadeInDown= index_title.html_safe
  - if @tips.any?
    .tips-container= render @tips
  .hero-unit.text-center{class: @tips.any? ? 'hide' : 'animated bounceIn'}
    %h3 No messages for this #{@tutorial ? 'tutorial' : 'site'} yet!
    %p
      Start adding messages to your #{@tutorial ? 'tutorial' : 'site'} by clicking the button below.
    %p
      = link_to "Add a message to your #{@tutorial ? 'tutorial' : 'site'}!", new_tip_link, class: 'btn btn-lg btn-primary'
