.tip-collection{data: {view: 'tip-collection'}}
  %h3
    = index_title
    = link_to new_tip_link, class: 'btn btn-default btn-sm pull-right' do
      %i.fa.fa-plus
      New message
  - if @tips.any?
    %table.table.table-hover
      %thead
        %tr
          %th Message title
          - unless @tutorial
            %th Visible From
            %th Visible Until
          %th
      %tbody#tips-list
        = render @tips
  - else
    .hero-unit{:style => "padding: 30px 60px; text-align: center"}
      %h3 No messages for this #{@tutorial ? 'tutorial' : 'site'} yet!
      %p
        Start adding messages to your #{@tutorial ? 'tutorial' : 'site'} by clicking the button below.
      %hr/
      %p
        = link_to "Add a message to your #{@tutorial ? 'tutorial' : 'site'}!", new_tip_link, class: 'btn btn-large btn-primary'
