%ul.nav.navbar-nav.navbar-right
  %li
    = link_to '#new-site-modal', :'data-toggle' => 'modal' do
      %i.fa.fa-plus
      Add new site
  - if Site.by_user(current_user).any?
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
        Your sites
        %b.caret
      %ul.dropdown-menu
        = render Site.by_user(current_user)
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      = image_tag gravatar(current_user.email, 25), size: "25x25"
      = current_user.email
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to 'Logout', destroy_user_session_path, method: :delete