!!!
%html{:class => user_signed_in? ? 'logged_in' : 'not_logged_in', :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Hermes"
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = yield :head
    %link{:href => "//fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}
    :javascript
      // the app namespace
      !function(w) {
        w.HERMES = HERMES = w.HERMES || {};
        HERMES.env = "#{Rails.env}";
      }(this);
  %body
    = render 'new_site'
    .navbar.navbar-default{role: :navigation}
      .container-fluid
        .navbar-header
          = logo
        = render 'sites_list' if user_signed_in?
    .container
      .row
        - if user_signed_in?
          .col-md-12
            = bootstrap_flash
            = render 'edit_site'
            -# = render 'side' if current_user
            = yield
        - else
          .col-md-7
            = bootstrap_flash
            = render 'welcome'
          .col-md-3
            = yield
    = javascript_include_tag "application"
